.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  animation: move 10s linear infinite;
  z-index: -99;
}

.type-1 {
  width: 1px;
  height: 1px;
}

.type-2 {
  width: 2px;
  height: 2px;
}

.type-3 {
  width: 3px;
  height: 3px;
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-110vw) translateY(-110vh);
  }
}