/***** Import *****/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/***** Main style *****/

body {
    background: white;
} 
p {
    text-align: center;
}
.social {
	margin-top: 10rem;
	margin-bottom: 6rem;
    position: center;
    /*top: 40%;*/
    /* left: 50%; */
}

/***** Social Media *****/

ul {
    padding:0;
    list-style: none;
}
.social-icon {
    color: #333333;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    margin: 0.5rem;
    vertical-align: top;
    display: inline;
}
.social-icons a {
	font-size:2.5rem;
    color: #333333;
    text-decoration: none;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover {
    color: #b642f5;
}
.fa-file-pdf-o {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-file-pdf-o:hover {
    color: #f54242;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    color: #0073a4;
}
.fa-envelope {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope:hover {
    color: #f5aa42;
}
.social-title {
	font-family: 'Abril Fatface';
    font-size: 5rem;
    color: #333333;
}
.social-subtitle {
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: #333333;
}
.previous-experience {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-skills {
    padding: 15px;
    margin: 0px;
}
.react {
    background: url(./assets/img/react.svg);
}
.java {
    background: url(./assets/img/java.svg);
}
.javascript {
    background: url(./assets/img/javascript.svg);
}
.c {
    background: url(./assets/img/c.svg);
}
.svelte {
  background: url(./assets/img/svelte.svg);
}
.universidad {
    background: url(./assets/img/universidad.svg);
}
.bemyvega {
    background: url(./assets/img/bemyvega.svg);
}
.svg-exp {
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
    margin: 0px 1.8rem;
    opacity: 0.8;
    filter: grayscale(100%);
    transition: .5s;
}
.svg-exp:hover {
    opacity: 1;
    filter: grayscale(0%);
    transition: .5s;
}
.svg {
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.8rem;
    margin: 0.8rem;
}
.social-phrase {
    font-family: 'Playfair Display';
    font-size: 1.4rem;
    color: #333333;
    text-decoration: none;
    margin-bottom: 3rem;
}
.section {
    border: 2px solid #aeaeae;
    position: relative;
    width: 30%;
    padding: 0px;
    margin-bottom: 20px;
}
.section-title {
    position: absolute;
    top: -14px;
    left: 12px;
    background-color: white;
    padding: 2px 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase; /* Optional style */
}