/***** Import *****/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/***** Main style *****/

body {
    min-height: 52.5rem;
    background:radial-gradient(ellipse at bottom,
                #013155 0%, #01162E 100%) ;
} 
p {
    text-align: center;
}
.social {
	margin-top: 6rem;
	margin-bottom: 8rem;
    position: center;
}

.container {
    text-align: center;
    display: block;
}

ul {
    padding:0;
    list-style: none;
}
.social-icon {
    color: #e8e8e8;
}
ul.social-icons {
    margin-top: 50px;
}
.social-icons li {
    margin: 0.5rem;
    vertical-align: top;
    display: inline;
}
.social-icons a {
	font-size:2.5rem;
    color: #e8e8e8;
    text-decoration: none;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover {
    color: #b642f5;
}
.fa-file-pdf-o {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-file-pdf-o:hover {
    color: #f54242;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    color: #0073a4;
}
.fa-envelope {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope:hover {
    color: #f5aa42;
}
.social-title {
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Abril Fatface';
    font-size: 4.5rem;
    color: #e8e8e8;
    margin-bottom: 1.5rem;
}
.social-subtitle {
    font-family: 'Playfair Display';
    font-size: 2rem;
    color: #e8e8e8;
}

.social-phrase {
    font-family: 'Playfair Display';
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 3rem;
}
.profile-photo img {
    width: 12rem;
    height: auto;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block; 
    margin: 0 auto; 
}